<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!--显示在时间下的文字-->
    <add key="Title" value="(北京时间)" />
    <!--是否开机启动启动-->
    <add key="RunWithSystem" value="true" />
    <!--时区索引ID-->
    <add key="timeZoneIndex" value="103" />
    <!--最后打开位置-->
    <add key="LastLocationX" value="0" />
    <add key="LastLocationY" value="0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <WindowsClock.Properties.Settings>
    </WindowsClock.Properties.Settings>
  </applicationSettings>
</configuration>